header{
	text-align: center;
	padding: 1rem 0;
	background: #282c2c;
}
header ul {
  @include clearfix();
  margin: 0;
  padding: 0;
}
header ul li {
	display: block;
	padding: 1em 0;
	border-bottom: solid 1px #ccc;
}
header ul li:first-child {
 padding-top: 0;
}
header ul li a{
	&:hover,
	&:focus {
		text-decoration: none;
	}
	border-bottom: solid 4px transparent;
	display: block;
	color: #EEE;
	text-decoration: none;
}

.home-page header ul .home a,
.hire-me header ul .hire a,
.post-list header ul .writing a {
	color: $link-hover-color;
}

@media screen and (min-width: 40em){
	header {
		text-align: left;
		position: relative;;
	}
	header:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		height: 5px;
		background: #ccc;
		background: linear-gradient(to right,transparent,#ccc 25%,#ccc 75%,transparent);
	}
	header ul li {
		display: inline-block;
		padding: 0;
		border: medium none;
		&:hover,
		&:focus {
			border-color: $link-hover-color;
		}
	}

	header ul li a{
		display: block;
		margin-right: 3rem;
		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: solid 4px;
		}
	}
	.home-page header ul .home a,
	.hire-me header ul .hire a,
	.post-list header ul .writing a {
		border-color: inherit;
	}
}
