main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 40rem) {
	main{
		width: 38rem;
	}
}

@media screen and (min-width: 50rem) {
	main{
		width: 42rem;
	}
}

//grid
$gutter: 1rem;
$columns: 12;
@include make-grid($columns,$gutter);
