// SHAME SHAME SHAME!!!!

// Pro tip: First make peace with it, then embrace it.

.ptn,.pvn,.pan{padding-top:0!important}
.pts,.pvs,.pas{padding-top:5px!important}
.ptm,.pvm,.pam{padding-top:10px!important}
.ptl,.pvl,.pal{padding-top:20px!important}
.prn,.phn,.pan{padding-right:0!important}
.prs,.phs,.pas{padding-right:5px!important}
.prm,.phm,.pam{padding-right:10px!important}
.prl,.phl,.pal{padding-right:20px!important}
.pbn,.pvn,.pan{padding-bottom:0!important}
.pbs,.pvs,.pas{padding-bottom:5px!important}
.pbm,.pvm,.pam{padding-bottom:10px!important}
.pbl,.pvl,.pal{padding-bottom:20px!important}
.pln,.phn,.pan{padding-left:0!important}
.pls,.phs,.pas{padding-left:5px!important}
.plm,.phm,.pam{padding-left:10px!important}
.pll,.phl,.pal{padding-left:20px!important}

.mtn,.mvn,.man{margin-top:0!important}
.mts,.mvs,.mas{margin-top:5px!important}
.mtm,.mvm,.mam{margin-top:10px!important}
.mtl,.mvl,.mal{margin-top:20px!important}
.mrn,.mhn,.man{margin-right:0!important}
.mrs,.mhs,.mas{margin-right:5px!important}
.mrm,.mhm,.mam{margin-right:10px!important}
.mrl,.mhl,.mal{margin-right:20px!important}
.mbn,.mvn,.man{margin-bottom:0!important}
.mbs,.mvs,.mas{margin-bottom:5px!important}
.mbm,.mvm,.mam{margin-bottom:10px!important}
.mbl,.mvl,.mal{margin-bottom:20px!important}
.mln,.mhn,.man{margin-left:0!important}
.mls,.mhs,.mas{margin-left:5px!important}
.mlm,.mhm,.mam{margin-left:10px!important}
.mll,.mhl,.mal{margin-left:20px!important}
