.post-list article:before {
	content: "";
	display: block;
	top: 0;
	height: 1px;
	background: #ccc;
	background: linear-gradient(to right,transparent,#ccc 25%,#ccc 75%,transparent);
}
.post-list article:last-of-type:after {
	display: none;
}
.pagination{
  text-align: center;
	@include clearfix();
}
.pagination a{
	text-decoration: none;
}

.pagination-item.older{float:left}
.pagination-item.newer{float:right}
