:root,html{
  @include fluid('font-size', 20rem, 120rem, 0.875rem, 1.125rem);
}

/* Vars */

$font-family: 'Libre Baskerville', serif;

$font-color: #333333;
$font-size: 1.125rem;
$line-height: 2;

$heading-font-family: 'Handlee', Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
$heading-font-weight: normal;
$heading-font-color:  #000000;
$heading-line-height: 1.6;
$heading-margin-top: 3.75rem;
$heading-margin-bottom: .75rem;

$paragraph-font-size: $font-size;
$paragraph-margin-top: .5rem;
$paragraph-margin-bottom: 1.2rem;

$list-font-size: $font-size;
$list-margin-top: 0;
$list-margin-bottom: .75rem;

$table-font-size: $font-size;
$table-margin-top: 0;
$table-margin-bottom: .75rem;

$link-color: #A2263A;
$link-hover-color: #FA3656;

$pre-font-family: 'Source Code Pro', Consolas, monospace;
$pre-font-size: inherit;
$pre-margin-top: 2rem;
$pre-margin-bottom: 2.5rem;

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  color: $heading-font-color;
	a{
	  color: $heading-font-color;
	  text-decoration: none;
	}
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
.h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child {
  margin-top:0;
}

p {
  font-size: $paragraph-font-size;
  margin-top: $paragraph-margin-top;
  margin-bottom: $paragraph-margin-bottom;
}

dl, ol, ul {
  font-size: $list-font-size;
  margin-top: $list-margin-top;
  margin-bottom: $list-margin-bottom;
}

table {
  font-size: $table-font-size;
  margin-top: $table-margin-top;
  margin-bottom: $table-margin-bottom;
  border-spacing: 0px;
  border-collapse: collapse;
}

pre, code, samp {
  font-family: $pre-font-family;
  font-size: $pre-font-size;
}

pre {
  padding: 1rem 1.5rem !important;
  margin-top: $pre-margin-top;
  margin-bottom: $pre-margin-bottom;
  overflow-x: scroll;
}

@media screen and (min-width: 32rem) {
  pre{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}


strike{
  color: lighten($font-color,10%);
}

h1,
.h1 {
  @include fluid('font-size',20rem,120rem,1.602rem,3.157rem);
}
.page-title {
  @include fluid('font-size',20rem,120rem,2.441rem,3.998rem);
}
h2, .h2 {
  @include fluid('font-size',20rem,120rem,1.424rem,2.369rem);
}
h3, .h3 {
  @include fluid('font-size',20rem,120rem,1.266rem,1.777rem);
}
h4, .h4 {
  @include fluid('font-size',20rem,120rem,1.125rem,1.333rem);
}
h5, .h5 {
  font-size: 1rem;
}
h6, .h6 {
  @include fluid('font-size',20rem,120rem,0.79rem,0.75rem);
}


/* Links */

a {
  color: $link-color;
  transition: color .5s;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}

/* Special */

.lead {
  font-size: 1.5rem;
}

.post-date{
  color: #888;
  font-size: .875rem;
  margin-bottom: .5rem;
	display: block;
}

.caption{
  color: lighten($font-color, 30%);
  text-align: center;
}

.nav-link{
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	font-size: .875rem;
	margin: 1.5rem 0;
	text-decoration: none;
	color: #555;
}

.nav-link svg {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 0 0 .5rem;
	fill: $font-color;
	transition: fill .5s;
}
.nav-link:hover svg,
.nav-link:focus svg,
.nav-link:active svg{
	fill: $link-hover-color;
}

.nav-link-reverse svg{
  margin: 0 0.5rem 0 0
}

ul.condensed{
	padding-left: 2rem;
}

.post-title{
  font-weight: bold;
  font-family:  'Helvetica Neue', Helvetica, sans-serif;
}

.stuff-i-wrote{
  color: $link-color;
  font-weight: bold;
}

blockquote{
  font-weight: bold;
  line-height: $heading-line-height;
  @include fluid('font-size',20rem,120rem,1.2rem,1.5rem);
  margin-left: 0;
}

.hire blockquote{
  font-weight: bold;
  line-height: $heading-line-height;
  @include fluid('font-size',20rem,120rem,1.5rem,2rem);
  margin-left: 0;
}
