// Yep! "Wow Box" - This is my site so I can name things what I like!

.wow-box{
  background: #FFF;
  border: solid 1px #E0E0E0;
  border-top: solid 3px $link-color;
  padding: .5rem;
  margin-top: $heading-margin-top;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  .post-title{
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 32rem) {
  .wow-box{
    padding: 1.5rem 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
