<footer>
  <ul class="footer-list">
    <li>
      <a class="footer-link" href="http://codepen.io/MadeByMike/">
        <svg class="footer-logo">
          <use xlink:href="#icon-codepen"></use>
        </svg> Me</a>
    </li> 
    <li> 
      <a class="footer-link" href="https://twitter.com/MikeRiethmuller">
        <svg class="footer-logo">
          <use xlink:href="#icon-twitter"></use>
        </svg> Me</a>
    </li>
    <li>
      <a class="footer-link" href="https://github.com/MadeByMike">
        <svg class="footer-logo">
          <use xlink:href="#icon-github"></use>
        </svg> Me</a>
    </li>
  </ul>
</footer>
