<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>
		{{ if .Page.IsHome }} {{ .Site.Title }} {{ else }} {{ .Page.Title }} — Mike Riethmuller {{ end }}
	</title>
	

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@MikeRiethmuller" />
	<meta name="twitter:title" content="{{ .Page.Title }} - Mike Riethmuller" />
	<meta name="twitter:creator" content="@MikeRiethmuller" />
	<meta name="twitter:description" content="{{ .Page.Description }}" />
	<meta name="twitter:image:src" content="/img/mug/mike.jpg" />
	
	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ .Page.Description }}">
	<meta property="og:image" content="/img/mug/mike.jpg">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="{{ .Title }}">

	{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate feed" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }}
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
	<link rel="icon" href="/favicon.ico?v=2">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF6E4A">
	<meta name="theme-color" content="#FF6E4A">

	
	<style>
		{{ partial "critical.css" | safeCSS }}
	</style>

	<link rel="preload" href="/css/styles.css" as="stylesheet" />

	<noscript>
		<link rel="stylesheet" href="/css/styles.css">
	</noscript>

	<script>
		// prettier ignore
		{{ partial "inline.js" | safeJS }}
	</script>

	{{ range $.Param "extra_css" }}
	<link rel="stylesheet" href="/css/{{ . }}"> 
	{{ end }}

</head>
<!-- Hello, view-source monkey! -->
