<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
	
	<title>
	{{ if .Page.IsHome }}
	  {{ .Site.Title }}
	{{ else }}
	  {{ .Page.Title }} - Mike Riethmuller
	{{ end }}
	</title>

	<noscript>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.min.css">
	</noscript>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@MikeRiethmuller" />
	<meta name="twitter:title" content="{{ .Page.Title }} - Mike Riethmuller" />
	<meta name="twitter:creator" content="@MikeRiethmuller" />
	<meta name="twitter:description" content="{{ .Page.Description }}" />
	<meta name="twitter:image:src" content="https://madebymike.com.au/stuff/mug.jpg" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF6E4A">
	<meta name="theme-color" content="#FF6E4A">

	<link href='//fonts.googleapis.com/css?family=Handlee|Libre+Baskerville' rel='stylesheet' type='text/css'>
	<script>
		{{ partial "inline.js" | safeJS }}
	</script>

	{{ range $.Param "extra_css" }}
		<link rel="stylesheet" href="/css/{{ . }}">
	{{ end }}

</head>
<body class="{{ $.Param "body_class" }}">
	<header>
		<div class="container">
			<ul>
				<li class="home"><a href="/">Home</a></li>
				<li class="writing"><a href="/writing">Writing</a></li>
				<li class="hire"><a href="/hire">Hire Me</a></li>
			</ul>
		</div>
	</header>
	<!-- Hello, view-source monkey! -->