{{ $.context.Scratch.Set "link" .context.RelPermalink }}
{{if .context.Params.external_link }} {{ $.context.Scratch.Set "link" .context.Params.external_link }} {{ end }}
{{if .context.Params.no_link }} {{ $.context.Scratch.Set "link" false }} {{ end }}
{{$link := $.context.Scratch.Get "link" }}

<div class="note note-{{.color}}{{ if $link }} note-block-link{{end}}{{ if .context.Params.card_size }} note-size-{{.context.Params.card_size}}{{end}}">
    {{ if $link }}
    <a class="note-link-overlay" href="{{ $link }}"></a>
    {{ end }}
 
    <div class="note-inner">      
      <div class="note-header">
        {{ if eq .context.Type "pens" }}
          <svg class="note-header-logo">
            <use xlink:href="#icon-codepen"></use>
          </svg> 
        {{ else if eq .context.Type "videos" }}
          <svg class="note-header-logo">
            <use xlink:href="#icon-video"></use>
          </svg>
        {{ else if and .context.Params.external_link (ne .context.Type "not-ads") }}
          <svg class="note-header-logo">
            <use xlink:href="#icon-link"></use>
          </svg>
        {{ else if eq .context.Type "writing" }}
          <svg class="note-header-logo">
            <use xlink:href="#icon-book"></use>
          </svg>
        {{ else if eq .context.Type "lists" }}
          <svg class="note-header-logo">
            <use xlink:href="#icon-list"></use>
          </svg>
        {{ end }}
        <h3 class="note-title">{{ .context.Title }}</h3>
      </div>

      <div class="note-body">{{ .context.Params.description | markdownify }}</div>

      {{ if .meta }} 
        <div class="note-meta">
          <time class="note-meta-date">{{ .context.Date.Format "Jan 2, 2006" }}</time> 
          {{ range .context.Params.tags }}
          <span class="note-meta-tag">{{ . }}</span>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div> 