{{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ $.Scratch.Set "has_related" true }}
{{ end }}

{{ if $.Scratch.Get "has_related" }}
  <nav class="related container">
    <h2>Other stuff I wrote</h2>
    <ul>
      {{ $num_to_show := .Site.Params.number_of_related_posts | default 3 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a><small> - <time>{{ .Date.Format "January 2, 2006" }}</time></small> </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}