{{ define "page-banner" }}
<section class="grid-right">
  <div class="post-meta">
    <h1 class="display-title display-title--large">
        {{ if .Params.page_title }} {{ .Params.page_title }} {{ else }} {{ .Page.Title }} {{ end }}
    </h1>
    {{ if .Params.page_description }}
      <p>{{ .Params.page_description }}</p>
    {{ else }}
      {{ if eq .Type "writing" }} 
        <span class="post-date"><time>{{ .Date.Format "January 2, 2006" }}</time></span>
      {{ end }} 
    {{ end }} 
  </div>
</section>
{{ end }}
{{ define "main"}}
<main class="grid-right">
  {{ .Content }}
</main>
{{end}} 