:root {
  --post-title-link-text-decoration: none;
}

.writingSection {
  margin-bottom: 40px;
}

.postTitle a:visited,
.postTitle a:hover,
.postTitle a:focus {
  --post-title-link-text-decoration: underline;
}

.postTitle {
  margin: 0;
  line-height: 1.2;
  font-size: 1.8rem;
}

.postTitle a {
  text-decoration: var(--post-title-link-text-decoration);
  color: inherit;
}

.postDate {
  font-size: 0.75em;
  color: #a4a4a4;
}
.pageBanner .postDate {
  float: right;
}

.postSummary {
  text-align: left !important;
}

.postContinueReading {
  font-size: 0.85em;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}
