--- 
title: Tags 
pagination: 
  data: collections 
  size: 1
  alias: tag 
  filter: 
    - all 
    - nav 
    - post 
    - posts 
    - tagList 
    - postFeed 
addAllPagesToCollections: true 
permalink: /tags/{{ tag }}/ 
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading %}Writing{% endset %}

{# Post list content #}
{% set postListHeading %}Posts tagged: “{{ tag }}”{% endset %}
{% set postListItems = collections[tag] %}

{% block intro %}
  <div class="l-stack l-stack--large">
    {% include "partials/intro.njk" %}
  </div>
{% endblock %}

{% block content %}
  <div class="l-page">
    <div class="l-stack l-stack--large">
      {% include "partials/post-list.njk" %}
      {% include "partials/pagination.njk" %}
    </div>
  </div>
{% endblock %}