{{ define "main"}}

  <main class="post">

    <article class="grid-left">
        <div class="post-meta">
          <h1 class="display-title display-title--large">{{ .Page.Title }}</h1>
          <span class="post-date"><time>{{ .Date.Format "January 2, 2006" }}</time></span>
        </div>
        {{ if .Params.update }}
          <span class="post-update">{{ .Params.update }}</span> 
        {{ end }} 
        {{ .Content }}
    </article>

    <section>
      {{ partial "related-content" . }}
    </section>

  </main>

  {{ end }} 