---
layout: default
pageClass: writing
templateEngineOverride: njk, md
---

<p class="date">
  First published, <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
</br>
{{ content | wordCount }}
</p>

{% if description %}
<div class="description">
  {{ description | safe }}
</div>
{% endif %}

{{ content | safe }}