<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>
	{% if page.title == "Home" %}
	  {{ site.title }}
	{% else %}
	  {{ page.title }} &middot; {{ site.title }}
	{% endif %}
	</title>
	<!-- CSS -->
	<style>
		{% include inline.css %}	
	</style>
	<noscript>
		<link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
	</noscript>
	<script>
		{% include inline.js %}
	</script>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
	<link rel="canonical" href="http://madebymike.com.au{{ page.url | replace:'index.html','' }}" />
</head>
