<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>
	{% if page.title == "Home" %}
	  {{ site.title }}
	{% else %}
	  {{ page.title }} &middot; {{ site.title }}
	{% endif %}
	</title>
	<!-- CSS -->
	<style>
		{% include inline.css %}
	</style>
	<noscript>
		<link rel="stylesheet" href="{{ site.baseurl }}css/styles.min.css">
	</noscript>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@MikeRiethmuller" />
	<meta name="twitter:title" content="MadebyMike - {{ page.title }}" />
	<meta name="twitter:creator" content="@MikeRiethmuller" />
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}{% endif %}" />
	<meta name="twitter:image:src" content="https://madebymike.com.au/stuff/mug.jpg" />

	<link href='//fonts.googleapis.com/css?family=Handlee|Libre+Baskerville' rel='stylesheet' type='text/css'>
	<script>
		{% include inline.js %}
	</script>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
	<link rel="canonical" href="http://madebymike.com.au{{ page.url | replace:'index.html','' }}" />
	{% for css_name in page.extra_css %}
		<link rel="stylesheet" href="/css/{{ css_name }}">
	{% endfor %}

</head>
