<div class="media">
  <img class="media-figure" src="/stuff/mug.jpg" alt="A terrible photo of me.">
  <div class="media-body">
    <p>I want to work with you and make awesome stuff, so please get in touch!</P>
    <a href="/hire" class="btn btn-block">Hire Me</a>
  </div>
</div>
<h1 class="h4">Speaking</h4>
<ul class="speaking">
  <li><time>17-19/10/2016</time> - <a href="http://cssdevconf.com/">CSS Dev Conf 2016</a> - Texas, USA</li>
  <li><time>28/10/2016</time> - <a href="http://mixinconf.com/">Mixin 2016</a> - Perth, Australia</li>
</ul>
