$grid-main-column: 65ch;
$grid-small-column: 55ch;

:root {
	--grid-home-text-align: center;
	--grid-home-text-align: right;
	--grid-right-columns: [full-width-start] 1fr [main-start] minmax(0, $grid-main-column) [main-end full-width-end];
	--grid-left-columns: [full-width-start main-start] minmax(0, $grid-main-column) [main-end] 1fr [full-width-end];
	--grid-home-columns: [full-width-start] 1fr [main-start] minmax(0, $grid-small-column) [main-end full-width-end];
}

@media screen and (min-width: $BREAKPOINT) {

	:root {
		--grid-home-text-align: right;
		--grid-right-columns: [full-width-start] 1fr [main-start] minmax(0, $grid-main-column) [main-end] minmax(0, 100px) [full-width-end];
		--grid-left-columns: [full-width-start main-start] minmax(0, $grid-main-column) [main-end] 1fr [full-width-end];
		--grid-home-columns: [full-width-start] 1fr [main-start] minmax(0, $grid-small-column) [main-end] minmax(0, 100px) [full-width-end];
	}
	
}

.grid-left,
.grid-home,
.grid-right {
	padding: var(--VERTICAL_SPACING) 0;
	margin: 0 auto;
}

.grid-banner {
	margin: 0 auto;
}

.grid-home {
	text-align: var(--grid-home-text-align);
}


.grid-banner > *,
.grid-home > *,
.grid-left > *,
.grid-right > * {
	margin: 0;
	padding-left: var(--HORIZONTAL_SPACING);
	padding-right: var(--HORIZONTAL_SPACING);
	
	&.grid-full-width {
		margin: 0.5em 0;
	}
} 

.grid-left {
	grid-template-columns:  var(--grid-left-columns);
}

.grid-banner,
.grid-right {
	grid-template-columns: var(--grid-right-columns);
}

.grid-home {
	grid-template-columns:  var(--grid-home-columns);
}

.grid-banner > *,
.grid-home > *,
.grid-left > *,
.grid-right > * {
	grid-column: main;
	&.grid-full-width {
		grid-column: full-width !important;
	}
} 

////////////////////////////////////////////////////////
@supports (display: grid) {

	.grid-left,
	.grid-home,
	.grid-banner,
	.grid-right {
		width: auto;
		display: grid;
		margin: 0 0 0 auto;
		grid-row-gap: 1em;
	}

	
}