$grid-main-column: 65ch;
$grid-aside-column: 300px;


@media screen and (min-width: 600px) {
    :root{
        --grid-hire-margin-right: 1em;
        --hire-grid--columns: [full-width-start] 1fr [aside-start] minmax(40px, $grid-aside-column) [aside-end main-start] minmax(0, $grid-main-column) [main-end full-width-end]; 
    }
}

@media screen and (min-width: $BREAKPOINT) {
    :root {
        --grid-hire-margin-right: 0;
        --hire-grid--columns: [full-width-start] 1fr [aside-start] minmax(40px, $grid-aside-column) [aside-end main-start] minmax(0, $grid-main-column) [main-end] 100px [full-width-end]; 
    }
}

.grid-hire {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: var(--hire-grid--columns);
    padding: var(--VERTICAL_SPACING) 0;
}

.grid-hire > * {
	margin: 0;
	padding-left: var(--HORIZONTAL_SPACING);
	padding-right: var(--HORIZONTAL_SPACING);
	
	&.grid-full-width {
		margin: 0.5em 0;
	}
} 

.hire-aside {
    order: -1;
    grid-column: aside;
    max-width: 300px;
    margin: 0 auto
}

.hire-main {
    margin-right: var(--grid-hire-margin-right);
    grid-column: main;
}

.nice-pic {
    padding: 0;
    margin: 2em;
    position: relative;
    filter: contrast(1.25) brightness(0.95);
    border-radius: 50%;
}
.nice-pic:after,
.nice-pic:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
}
.nice-pic img {
    border-radius: 50%;
    width: 100%;
    z-index: 1;
  }
  .nice-pic:before {
    z-index: 2;
  }
  .nice-pic:after {
    z-index: 3;
  }
  .nice-pic::after {
    background: radial-gradient(
      circle,
      transparent,
      hsla(33, 79%, 28%, 0.05) 40%,
      hsla(300, 100%, 12%, 0.35) 70%
    );
    mix-blend-mode: screen;
  }
  