$breakpoint-small: 650px;
$breakpoint-large: 1100px;
$breakpoint-huge: 1450px; // More than 4 cols wide
$breakpoint-mega: $SUPERMEGAWIDE; // More than 4 cols wide

$note-color-schemes: (
  gold: (background:hsl(48, 100%, 95%), title:hsl(48, 100%, 70%), meta:hsl(48, 100%, 90%) ),
  grey: (background:hsl(0, 0%, 98%), title:hsl(270, 100%, 88%), meta:hsl(270, 100%, 95%) ),
  white: (background:hsl(0, 100%, 100%), title:hsl(0, 0%, 90%), meta:hsl(0, 0%, 90%) ),
);

:root { 
  --not-ads-grid-row-start: initial;
  --not-ads-grid-row-end: initial;
  --not-ads-grid-order: 1;
  --not-ads-grid-col-span: 1;
  --not-ads-grid-margin-top: var(--VERTICAL_SPACING);
  --grid-template-columns: 1fr;
  --note-col-span: 1; 
  --note-row-span: 1;
  --block-link-bg: linear-gradient(45deg, rgb(129, 28, 104), rgb(67, 27, 107));
  --block-link-color: white;
  
}

.not-ads {
  --block-link-bg: hsl(0, 0%, 98%);
  --block-link-color: $COLOR-TEXT;
}

.note-size-large,
.note-size-huge,
.note-size-tall {
  --note-row-span: 2;
}

@media screen and (min-width: $breakpoint-small) {
  :root {
    --notes-grid-column: right;
    --not-ads-grid-column: left;
    --not-ads-grid-order: 1;
    --not-ads-grid-col-span: 2;
    --grid-template-columns: repeat(2, minmax(250px, 1fr));
    --not-ads-grid-template-columns: repeat(2, minmax(210px, 1fr));
  }
  
  .note-size-large,
  .note-size-huge {
    --note-col-span: 2;
    --note-row-span: 2;
  }

  .note-size-wide {
    --note-col-span: 2;
  }

}

@media screen and (min-width: $breakpoint-large) {
  
  :root {
    --not-ads-grid-row-start: 1;
    --not-ads-grid-row-end: 999;
    --not-ads-grid-order: 0;
    --not-ads-grid-col-span: 1;
    --grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    --not-ads-grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); 
    --not-ads-grid-margin-top: 0;
  }

}

@media screen and (min-width: $breakpoint-huge) {
  .note-size-huge {
    --note-col-span: 3;
    --note-row-span: 3;
  }
}

@media screen and (min-width: $breakpoint-mega) {
  :root {
    --notes-grid-margin-mega-right: 100px;
  }
}


/////////////////////////////////////////////////////////////


// Container Layout

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--VERTICAL_SPACING) calc( var(--HORIZONTAL_SPACING) - (#{$UI_SPACING_UNIT} * 2) );
  margin-right: var(--notes-grid-margin-mega-right)
}

.not-ads-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 (-$UI_SPACING_UNIT);
}

.not-ads {
  order: var(--not-ads-grid-order);
  margin-top: calc(var(--not-ads-grid-margin-top) * 2);
  max-width: 100%; 
  flex-basis: 320px; 
  flex-grow: 0;
  flex-shrink:0;
}

.note {
  position: relative;
  font-size: .75rem;
  flex-basis: 360px; 
  flex-grow: 1;
  flex-shrink:0;
  border-radius: 2px;
  padding: $UI_SPACING_UNIT ($UI_SPACING_UNIT*2);
  margin: $UI_SPACING_UNIT*1.5;
  color: #555;
  text-decoration: none;
  transition: transform 250ms ease-in, box-shadow 200ms ease-in;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  border: solid 1px rgba(0,0,0,0.2);
  font-weight: 400;

}

.note-link-overlay {
  position: absolute;
  transition: background 250ms ease-in;
  left:0;
  top:0;
  bottom:0;
  right:0;
}

.note-inner {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  pointer-events: none;
  z-index: 1;
}

.note-inner a {
  pointer-events: all;
  position: relative;
}

.note-header {
  flex-grow: 0;
  margin: 10px 0;
  margin-top: $UI_SPACING_UNIT;
}

.note-title {
  display: inline;
  line-height: 1.4;
  font-family: system-ui;
  font-weight: 500;
  font-size: 1rem;
  color: $COLOR-TEXT;
}

.note-body {
  flex-grow: 1;
  margin-top: 10px;

  & > * {
    margin-top: 0; 
  }

  ul {
    list-style: none;
    padding: 0;    
  }

  li a {
    position: relative;
    display: flex;
    padding-left: 25px;
    margin-bottom: 0.5em;
    text-decoration: none;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 6px;
      width: 14px;
      height: 14px;
      padding: 0;
      margin: 0;
      border: solid 1px #555;
      border-radius: 2px;
    }

    .link-check {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    &:visited {
      color: $COLOR-TEXT-ALT;
      fill: $COLOR-TEXT;
    }

    &:focus,
    &:hover {
      text-decoration: underline;
    }

  }

}

.note-meta {
  position: relative;
  flex-grow: 0;
  margin: 20px 0;
  display: block;
  font-size: .5rem;
  color: inherit;
  text-decoration: none;
  text-align: right;
  font-family: system-ui;
  font-weight: 400;
}

.note-header-logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
  background: transparent;
  margin-top: 5px;
  margin-left: 10px;
  float: right;
  opacity: .5;
}

@supports (display: grid) {
  .notes-grid {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-auto-flow: dense;
  }
  .not-ads-grid {
    display: grid;
    grid-template-columns: var(--not-ads-grid-template-columns);
    align-items: start;
    justify-content: start;
  }

  .not-ads {
    grid-row-start: var(--not-ads-grid-row-start);
    grid-row-end: var(--not-ads-grid-row-end);
    grid-column: span var(--not-ads-grid-col-span);
  }
  
  .note {
    grid-column: span var(--note-col-span, 1);
    grid-row: span var(--note-row-span, 1);
  }

}


// Theming

@each $name, $colors in $note-color-schemes {

  .note-#{$name} {
    background: map-get($colors, "background");
    fill: map-get($colors, "background");

    .note-title {
      background: rgba(map-get($colors, "title"), 0.5);
    }
    .note-meta-date,
    .note-meta-tag {
      background: rgba(map-get($colors, "meta"), 0.25);
    }
  
    .note-link-overlay:focus:not(:hover) {
      background: map-get($colors, "title");
    } 

    &.note-block-link:hover,
    &.note-block-link:focus {
      transform: scale(1.015);
      background: var(--block-link-bg);
      fill: map-get($colors, "title");
      color:  var(--block-link-color);
      box-shadow: 0 2px 4px 1px rgba(0,0,0,0.35);

      a {
        color: lighten($COLOR-LINK, 0.5);
        transition: all 0.25s ease-in-out;
      }
      
      a:visited {
        color: $COLOR-TEXT-ALT; 
      }

      a:hover,
      a:focus { 
        color: $COLOR-LINK-ALT; 
      }
      
      .note-meta-date,
      .note-meta-tags,
      .note-title {
        background: transparent;
        color: inherit;
      }
      .note-title {
        text-decoration: underline;
      }
    }
    
  } 
}


.note-trans {
  background: transparent;
  box-shadow: none !important;
  border: none !important;
  padding-left: 0;
  padding-right: 0;
} 
