{% set postListHeadingLevel = 'h3' if postListHeading else 'h2' %}
{% if postListItems.length %}
  <section class="l-container">
    <div class="l-stack l-measure">
      {% if postListHeading %}
        <h2 class="h3">{{ postListHeading }}</h2>
      {% endif %}
      <ul class="l-post-list" reversed>
        {% for item in postListItems %}
          <li class="post-stack-item">
            <{{postListHeadingLevel}} class="h3">
              <a class="invert-link" href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
            </{{postListHeadingLevel}}>
            <p>
              <time class="post-stack-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
            <p>
              {% if item.data.description %}
                {{item.data.description}}<br>
                <a href="{{ item.url }}" aria-hidden="true" class="read-more">Read more</a>
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}