$bp-container: 800px;
$bp-container-small: 600px;

.l-container {
  --container-margin: #{$BASE_UNIT / 4};
}

@media (min-width: $bp-container-small) {
  .l-container {
    --container-margin: #{$BASE_UNIT / 2};
  }
}

@media (min-width: $bp-container) {
  .l-container {
    --container-margin: #{$BASE_UNIT};
  }
}

.l-container {
  margin: 0 var(--container-margin);
}

.l-container p {
  max-width: 65ch;
}
