.footerLink,
.footerLink:visited {
  --footer-link-fill: #a4a4a4;
  --footer-link-color: transparent;
}

.footerLink:hover,
.footerLink:focus {
  --footer-link-color: rgb(0, 130, 0);
  --footer-link-fill: rgb(0, 130, 0);
}

.footerList {
  list-style: none;
  text-align: right;
  font-size: 0.5rem;
  margin: 30px;
}

.footerLink:visited,
.footerLink {
  fill: var(--footer-link-fill);
  color: var(--footer-link-color);
  text-decoration: none;
}

.footerLogo {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}
