{{ define "main"}}
<main>
  <div class="grid-right">
    <section>
      <h1 class="display-title">Hello, I’m Mike Riethmuller</h1>
      <p>I’m a <strong>web developer</strong> and I make all sorts of stuff for the web. You can find some of my
      <s>code</s>
      <s>work</s>
      <s>experiments</s>
      <s>creations</s> shame on <a href="http://codepen.io/MadeByMike/">CodePen</a> or <a href="https://github.com/MadeByMike">GitHub</a>        and you can talk to me on <a href="https://twitter.com/MikeRiethmuller">Twitter</a>.</p>
      <p>When I’m not making things for the web I sometimes think about stuff and on rare occasions I write about it. You can
        find some of my writing here. </p>
    </section>
  </div>
 
  <section class="notes-grid" id="notes">
      <section class="not-adds">
          <div class="note note-white">
            <h3 class="note-title">Not Adds</h3>
            <p>A bunch of things I didn't make that I want to share or promote for no financial benefit.</p>
            <div class="not-adds-grid"> 
            {{ range first 3 (where .Pages ".Type" "not-adds") }}
              {{ partial "note" (dict "context" . "color" "white" "meta" false) }} 
            {{ end }} 
          </div>
        </div>
      </section>
      {{ range first 12 (where .Pages ".Type" "!=" "not-adds") }} 
        {{ partial "note" (dict "context" . "color" "grey" "meta" true) }}
      {{ end }}
  </section>
  
  <section class="grid-right">
      <h2>More about me</h2>
      <p>Oh, hey! You’re still here, good for you! You should know I’m passionate about web development and that doesn’t just
        mean standards; I’m an advocate for anything and anyone that contributes to good quality web development.</p>
      <p>I’ve worked as a front-end developer on some of Australia’s largest websites as well as some of the smallest community
        sites. When I’m not building sites or blogging I like to experiment with code. I love learning new things and finding
        techniques that challenge what we think is best practice. Although very few ideas make it into my production toolkit,
        I find experimentation is the best way learn and the only way to discover new techniques.</p>
      <p>I try to share everything I learn, I speak, I blog and sometimes help organise community events &amp; meetups.</p>
      <p>I’m available for hire! Why don’t you <a href="mailto:mike@madebymike.com.au">get in touch</a>?</p>
  </section>

  <section class="grid-right">
      <h2>Reach out</h2>
      <p>Feel free to send me an email. You can reach me at <a href="mailto:mike@madebymike.com.au">mike@madebymike.com.au</a>.
        Go for it! You can actually email me and I will actually reply, if you’re still reading this you’re worth my time!</p>
  </section>
</main> 
{{end}}