// Breakpoints
$unit-narrow: 20em;
$unit-mid: 38em;
$unit-wide: 48em;
$unit-wide: 88em;

$bp-narrow: "(min-width: 20em)";
$bp-mid: "(min-width: 38em)";
$bp-wide: "(min-width: 48em)";
$bp-megawide: "(min-width: 88em)";

$heading-font: "Playfair Display", serif;

// Fixed Colours
$heading-color: #080e02;
$text-color: #5a606d;
