.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: $link-color;
  color: white;
  border: 1px solid mix($link-color,#FFF,40%);
  padding: 5px 10px;

  &:active {
    background-image: none;
    outline: 0;
    color: white !important;
    &:focus {
      border-color: $link-hover-color;
    }
  }
  &:hover,
  &:focus{
    text-decoration: none;
    background: darken($link-color,10%);
    color: white !important;
  }

}

.btn-block{
  display: block;
}
