html{
  font-size: 1.5rem;
}

body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Libre Baskerville', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Handlee', Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}
