// Globals
@import "./_partials/variables";
@import "./_partials/initialise";
@import "./_partials/typography";
@import "./_partials/util";
@import "./_partials/highlight";

// Components
@import "./_partials/container";
@import "./_partials/jumbo";
@import "./_partials/pagination";
@import "./_partials/site-footer";
@import "./_partials/stack";
@import "./_partials/forms";
@import "./_partials/markdown-content";
@import "./_partials/post-list";
@import "./_partials/site-head";
@import "./_partials/navigation";
@import "./_partials/post-stack";
@import "./_partials/site-name";
@import "./_partials/page";
@import "./_partials/post-tags";
@import "./_partials/site-title";

.cp_embed_wrapper,
.live-demo {
  padding: 0.5em 0.85em;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.live-demo > * + * {
  margin-top: 1rem;
}

.live-demo > a {
  display: inline-block;
}

.live-demo > img {
  margin: 0 auto;
  display: block;
}

.live-demo iframe {
  display: none;
}

@media (min-width: 600px) {
  .live-demo iframe {
    display: block;
  }
}

@media (min-width: 600px) {
  .cp_embed_wrapper,
  .live-demo {
    margin: 3em -50px;
    max-width: calc(100% + 240px);
  }
}
@media (min-width: 88em) {
  .cp_embed_wrapper,
  .live-demo-extended {
    margin: 3em -100px;
    max-width: calc(100% + 300px);
  }
}
